.parent{
   -fx-background-color: #fff; 
 
}
.sideBar{
    -fx-background-color: #333645; 
}
.labelAdmin {
    -fx-background-color: #00A2D3 ; 
    
    
}
.inputSearch {
    -fx-background-color: transparent; 
    font-family : Calibri; 
}
*{
    -fx-primary : #2A2E37;
    -fx-secondary : #ff7d0c;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}
